* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainAlbum .margen {
    padding-bottom: 10px;
}
.mainNoticias p {
    text-align: justify;
    padding-bottom: 2px;
}
.aside img{
    width: 20%;
    padding-top: 10px;
    border-radius: 20px;
}
.footer {
    padding: 10px;
}
