* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #aba8a4;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.footer img{
    width: 100px;
    border-radius: 20px;
}
