* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.aside img{
    width: 20%;
    padding-top: 10px;
    border-radius: 20px;
}
.footer {
    padding: 10px;
}
